:root {
  --black: rgba(0, 0, 0, 1);
  --body-1-normal-font-family: "Jost", Helvetica;
  --body-1-normal-font-size: 16px;
  --body-1-normal-font-style: normal;
  --body-1-normal-font-weight: 400;
  --body-1-normal-letter-spacing: 0px;
  --body-1-normal-line-height: 150%;
  --body-text-font-family: "Inter", Helvetica;
  --body-text-font-size: 20px;
  --body-text-font-style: normal;
  --body-text-font-weight: 500;
  --body-text-letter-spacing: 0px;
  --body-text-line-height: 150%;
  --button-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  --elevation-blur: 0px 32px 32px -24px rgba(0, 0, 0, 0.1);
  --gray-700: rgba(97, 97, 97, 1);
  --principal: rgba(61, 102, 151, 1);
  --small-text-font-family: "Inter", Helvetica;
  --small-text-font-size: 16px;
  --small-text-font-style: normal;
  --small-text-font-weight: 500;
  --small-text-letter-spacing: 0px;
  --small-text-line-height: 150%;
  --title-font-family: "Inter", Helvetica;
  --title-font-size: 64px;
  --title-font-style: normal;
  --title-font-weight: 700;
  --title-letter-spacing: -1.28px;
  --title-line-height: normal;
  --variable-collection-spacing-m: 48px;
  --variable-collection-spacing-s: 24px;
  --white: rgba(255, 255, 255, 1);
  --white-07: rgba(255, 255, 255, 0.7);
}
