backend/__pycache__/config.cpython-39.pyc
backend/app/__pycache__/__init__.cpython-39.pyc
backend/app/__pycache__/routes.cpython-39.pyc
backend/app/models/__pycache__/__init__.cpython-39.pyc
backend/app/models/__pycache__/usuario.cpython-39.pyc
backend/venv
backend/app/models/__pycache__/aluno_ct_association.cpython-39.pyc
backend/app/models/__pycache__/aluno.cpython-39.pyc
backend/app/models/__pycache__/ct.cpython-39.pyc
backend/app/models/__pycache__/gerente_ct_association.cpython-39.pyc
backend/app/models/__pycache__/gerente.cpython-39.pyc
backend/app/models/__pycache__/treinador_ct_association.cpython-39.pyc
backend/app/models/__pycache__/treinador.cpython-39.pyc
backend/app/models/__pycache__/treino.cpython-39.pyc
