/* src/screens/style.css */

/* Estilos gerais */
.aluno-painel-treinos {
  padding: 10px;
}

.treino-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.treino-info {
  margin-bottom: 10px;
  width: 100%;
}

.treino-info h2 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.treino-info p {
  margin: 5px 0;
  font-size: 1em;
}

.confirmar-presenca-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  font-size: 1em;
}

.confirmar-presenca-btn:hover {
  background-color: #45a049;
}

/* Media queries para telas menores */
@media (max-width: 768px) {
  .aluno-painel-treinos {
    padding: 10px;
  }

  .treino-item {
    padding: 10px;
    margin-bottom: 10px;
  }

  .treino-info h2 {
    font-size: 1.1em;
  }

  .treino-info p {
    font-size: 0.9em;
  }

  .confirmar-presenca-btn {
    padding: 8px;
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  .aluno-painel-treinos {
    padding: 5px;
  }

  .treino-item {
    padding: 8px;
    margin-bottom: 8px;
  }

  .treino-info h2 {
    font-size: 1em;
  }

  .treino-info p {
    font-size: 0.8em;
  }

  .confirmar-presenca-btn {
    padding: 7px;
    font-size: 0.8em;
  }
}
